<!DOCTYPE html>
<html lang="en">
<head>
<title>Smart Street Parking</title>
    <!-- Reference: Used Bootstrap, navbar-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{{url_for('static', filename='UNSWtalk.css')}}") rel="stylesheet">
</head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="{{url_for('hello_world')}}">Smart Street Parking</a>
     </div>
     <ul class="nav navbar-nav">

         <li><a href="{{url_for('shoot')}}">Shoot</a></li>
         <li><a href="{{url_for('detect')}}">Detect</a></li>
         <li><a href="{{url_for('map')}}">Map</a></li>
         <li><a href="{{url_for('api')}}">API</a></li>
     </ul>

   </div>
 </nav>

<div class="container" style="margin-top:60px">
</div>


{% block body_contents %}
     <div style="margin:0 auto;width:500px;">
        <h2><center>{{ message }}<center></h2>
     </div>
{% endblock %}

</body>
</html>
